.console-role-permissions {
    .section-heading {
        margin-bottom: 2rem;
    }

    .submit-button {
        margin-top: 2rem;
    }

    .multi-option-radio-group {
        gap: 40px;
        margin: 20px 0;
    }
}
