.policy-algorithm-btn {
    padding: 1px 16px;
    .algorithm-txt {
        margin-left: 4px;
    }
}

.policy-list-card {
    background-color: transparent;
    padding: 0;
}

.policy-list-header {
    margin-bottom: 15px;
}
