node_modules/

apps/admin-portal/node_modules/
apps/admin-portal/target/
apps/admin-portal/build/

apps/user-portal/node_modules/
apps/user-portal/target/
apps/user-portal/build/

modules/core/dist/
modules/core/node_modules/

modules/react-components/dist/
modules/react-components/node_modules/

modules/forms/dist/
modules/forms/node_modules/

modules/http/dist/
modules/http/node_modules/

modules/validation/dist/
modules/validation/node_modules/

modules/theme/lib/
modules/validation/node_modules/
