{
    "features": {
        "applications": {
            "scopes": {
                "create": [
                    "{{developer_portal.applications.scopes.create}}"
                ],
                "read": [
                    "{{developer_portal.applications.scopes.read}}"
                ],
                "update": [
                    "{{developer_portal.applications.scopes.update}}"
                ],
                "delete": [
                    "{{developer_portal.applications.scopes.delete}}"
                ]
            },
            "disabledFeatures": [
                "{{developer_portal.applications.disabled_features}}"
            ]
        },
        "identityProviders": {
            "scopes": {
                "create": [
                    "{{developer_portal.identity_providers.scopes.create}}"
                ],
                "read": [
                    "{{developer_portal.identity_providers.scopes.read}}"
                ],
                "update": [
                    "{{developer_portal.identity_providers.scopes.update}}"
                ],
                "delete": [
                    "{{developer_portal.identity_providers.scopes.delete}}"
                ]
            },
            "disabledFeatures": [
                "{{developer_portal.identity_providers.disabled_features}}"
            ]
        },
        "users": {
            "scopes": {
                "create": [
                    "{{developer_portal.users.scopes.create}}"
                ],
                "read": [
                    "{{developer_portal.users.scopes.read}}"
                ],
                "update": [
                    "{{developer_portal.users.scopes.update}}"
                ],
                "delete": [
                    "{{developer_portal.users.scopes.delete}}"
                ]
            },
            "disabledFeatures": [
                "{{developer_portal.users.disabled_features}}"
            ]
        },
        "groups": {
            "scopes": {
                "create": [
                    "{{developer_portal.groups.scopes.create}}"
                ],
                "read": [
                    "{{developer_portal.groups.scopes.read}}"
                ],
                "update": [
                    "{{developer_portal.groups.scopes.update}}"
                ],
                "delete": [
                    "{{developer_portal.groups.scopes.delete}}"
                ]
            },
            "disabledFeatures": [
                "{{developer_portal.groups.disabled_features}}"
            ]
        },
        "roles": {
            "scopes": {
                "create": [
                    "{{developer_portal.roles.scopes.create}}"
                ],
                "read": [
                    "{{developer_portal.roles.scopes.read}}"
                ],
                "update": [
                    "{{developer_portal.roles.scopes.update}}"
                ],
                "delete": [
                    "{{developer_portal.roles.scopes.delete}}"
                ]
            },
            "disabledFeatures": [
                "{{developer_portal.roles.disabled_features}}"
            ]
        },
        "attributeDialects": {
            "scopes": {
                "create": [
                    "{{developer_portal.attribute_dialects.scopes.delete}}"
                ],
                "read": [
                    "{{developer_portal.attribute_dialects.scopes.delete}}"
                ],
                "update": [
                    "{{developer_portal.attribute_dialects.scopes.delete}}"
                ],
                "delete": [
                    "{{developer_portal.attribute_dialects.scopes.delete}}"
                ]
            },
            "disabledFeatures": [
                "{{developer_portal.attribute_dialects.disabled_features}}"
            ]
        },
        "userStores": {
            "scopes": {
                "create": [
                    "{{developer_portal.user_stores.scopes.delete}}"
                ],
                "read": [
                    "{{developer_portal.user_stores.scopes.delete}}"
                ],
                "update": [
                    "{{developer_portal.user_stores.scopes.delete}}"
                ],
                "delete": [
                    "{{developer_portal.user_stores.scopes.delete}}"
                ]
            },
            "disabledFeatures": [
                "{{developer_portal.user_stores.disabled_features}}"
            ]
        },
        "certificates": {
            "scopes": {
                "create": [
                    "{{developer_portal.certificates.scopes.delete}}"
                ],
                "read": [
                    "{{developer_portal.certificates.scopes.delete}}"
                ],
                "update": [
                    "{{developer_portal.certificates.scopes.delete}}"
                ],
                "delete": [
                    "{{developer_portal.certificates.scopes.delete}}"
                ]
            },
            "disabledFeatures": [
                "{{developer_portal.certificates.disabled_features}}"
            ]
        },
        "generalConfigurations": {
            "scopes": {
                "create": [
                    "{{developer_portal.general_configs.scopes.delete}}"
                ],
                "read": [
                    "{{developer_portal.general_configs.scopes.delete}}"
                ],
                "update": [
                    "{{developer_portal.general_configs.scopes.delete}}"
                ],
                "delete": [
                    "{{developer_portal.general_configs.scopes.delete}}"
                ]
            },
            "disabledFeatures": [
                "{{developer_portal.general_configs.disabled_features}}"
            ]
        },
        "emailTemplates": {
            "scopes": {
                "create": [
                    "{{developer_portal.email_templates.scopes.delete}}"
                ],
                "read": [
                    "{{developer_portal.email_templates.scopes.delete}}"
                ],
                "update": [
                    "{{developer_portal.email_templates.scopes.delete}}"
                ],
                "delete": [
                    "{{developer_portal.email_templates.scopes.delete}}"
                ]
            },
            "disabledFeatures": [
                "{{developer_portal.email_templates.disabled_features}}"
            ]
        }
    }
}
