{
    "features": {
        "applications": {
            "scopes": {
                {% if developer_portal.applications.scopes is defined %}
                {% for operation, scopes in developer_portal.applications.scopes.items() %}
                "{{ operation }}": [
                    {% for scope in scopes %}
                        "{{ scope }}"{{ "," if not loop.last }}
                    {% endfor %}
                ]{{ "," if not loop.last }}
                {% endfor %}
                {% else %}
                    "create": [],
                    "read": [],
                    "update": [],
                    "delete": []
                {% endif %}
            },
            "disabledFeatures": [
                {% if developer_portal.applications.disabled_features is defined %}
                {% for feature in developer_portal.applications.disabled_features %}
                "{{ feature }}"{{ "," if not loop.last }}
                {% endfor %}
                {% endif %}
            ]
        },
        "identityProviders": {
            "scopes": {
                {% if developer_portal.identity_providers.scopes is defined %}
                {% for operation, scopes in developer_portal.identity_providers.scopes.items() %}
                "{{ operation }}": [
                    {% for scope in scopes %}
                        "{{ scope }}"{{ "," if not loop.last }}
                    {% endfor %}
                ]{{ "," if not loop.last }}
                {% endfor %}
                {% else %}
                    "create": [],
                    "read": [],
                    "update": [],
                    "delete": []
                {% endif %}
            },
            "disabledFeatures": [
                {% if developer_portal.identity_providers.disabled_features is defined %}
                {% for feature in developer_portal.identity_providers.disabled_features %}
                "{{ feature }}"{{ "," if not loop.last }}
                {% endfor %}
                {% endif %}
            ]
        },
        "users": {
            "scopes": {
                {% if developer_portal.users.scopes is defined %}
                {% for operation, scopes in developer_portal.users.scopes.items() %}
                "{{ operation }}": [
                    {% for scope in scopes %}
                        "{{ scope }}"{{ "," if not loop.last }}
                    {% endfor %}
                ]{{ "," if not loop.last }}
                {% endfor %}
                {% else %}
                    "create": [],
                    "read": [],
                    "update": [],
                    "delete": []
                {% endif %}
            },
            "disabledFeatures": [
                {% if developer_portal.users.disabled_features is defined %}
                {% for feature in developer_portal.users.disabled_features %}
                "{{ feature }}"{{ "," if not loop.last }}
                {% endfor %}
                {% endif %}
            ]
        },
        "groups": {
            "scopes": {
                {% if developer_portal.groups.scopes is defined %}
                {% for operation, scopes in developer_portal.groups.scopes.items() %}
                "{{ operation }}": [
                    {% for scope in scopes %}
                        "{{ scope }}"{{ "," if not loop.last }}
                    {% endfor %}
                ]{{ "," if not loop.last }}
                {% endfor %}
                {% else %}
                    "create": [],
                    "read": [],
                    "update": [],
                    "delete": []
                {% endif %}
            },
            "disabledFeatures": [
                {% if developer_portal.groups.disabled_features is defined %}
                {% for feature in developer_portal.groups.disabled_features %}
                "{{ feature }}"{{ "," if not loop.last }}
                {% endfor %}
                {% endif %}
            ]
        },
        "roles": {
            "scopes": {
                {% if developer_portal.roles.scopes is defined %}
                {% for operation, scopes in developer_portal.roles.scopes.items() %}
                "{{ operation }}": [
                    {% for scope in scopes %}
                        "{{ scope }}"{{ "," if not loop.last }}
                    {% endfor %}
                ]{{ "," if not loop.last }}
                {% endfor %}
                {% else %}
                    "create": [],
                    "read": [],
                    "update": [],
                    "delete": []
                {% endif %}
            },
            "disabledFeatures": [
                {% if developer_portal.roles.disabled_features is defined %}
                {% for feature in developer_portal.roles.disabled_features %}
                "{{ feature }}"{{ "," if not loop.last }}
                {% endfor %}
                {% endif %}
            ]
        },
        "attributeDialects": {
            "scopes": {
                {% if developer_portal.attribute_dialects.scopes is defined %}
                {% for operation, scopes in developer_portal.attribute_dialects.scopes.items() %}
                "{{ operation }}": [
                    {% for scope in scopes %}
                        "{{ scope }}"{{ "," if not loop.last }}
                    {% endfor %}
                ]{{ "," if not loop.last }}
                {% endfor %}
                {% else %}
                    "create": [],
                    "read": [],
                    "update": [],
                    "delete": []
                {% endif %}
            },
            "disabledFeatures": [
                {% if developer_portal.attribute_dialects.disabled_features is defined %}
                {% for feature in developer_portal.attribute_dialects.disabled_features %}
                "{{ feature }}"{{ "," if not loop.last }}
                {% endfor %}
                {% endif %}
            ]
        },
        "userStores": {
            "scopes": {
                {% if developer_portal.user_stores.scopes is defined %}
                {% for operation, scopes in developer_portal.user_stores.scopes.items() %}
                "{{ operation }}": [
                    {% for scope in scopes %}
                        "{{ scope }}"{{ "," if not loop.last }}
                    {% endfor %}
                ]{{ "," if not loop.last }}
                {% endfor %}
                {% else %}
                    "create": [],
                    "read": [],
                    "update": [],
                    "delete": []
                {% endif %}
            },
            "disabledFeatures": [
                {% if developer_portal.user_stores.disabled_features is defined %}
                {% for feature in developer_portal.user_stores.disabled_features %}
                "{{ feature }}"{{ "," if not loop.last }}
                {% endfor %}
                {% endif %}
            ]
        },
        "certificates": {
            "scopes": {
                {% if developer_portal.certificates.scopes is defined %}
                {% for operation, scopes in developer_portal.certificates.scopes.items() %}
                "{{ operation }}": [
                    {% for scope in scopes %}
                        "{{ scope }}"{{ "," if not loop.last }}
                    {% endfor %}
                ]{{ "," if not loop.last }}
                {% endfor %}
                {% else %}
                    "create": [],
                    "read": [],
                    "update": [],
                    "delete": []
                {% endif %}
            },
            "disabledFeatures": [
                {% if developer_portal.certificates.disabled_features is defined %}
                {% for feature in developer_portal.certificates.disabled_features %}
                "{{ feature }}"{{ "," if not loop.last }}
                {% endfor %}
                {% endif %}
            ]
        },
        "generalConfigurations": {
            "scopes": {
                {% if developer_portal.general_configurations.scopes is defined %}
                {% for operation, scopes in developer_portal.general_configurations.scopes.items() %}
                "{{ operation }}": [
                    {% for scope in scopes %}
                        "{{ scope }}"{{ "," if not loop.last }}
                    {% endfor %}
                ]{{ "," if not loop.last }}
                {% endfor %}
                {% else %}
                    "create": [],
                    "read": [],
                    "update": [],
                    "delete": []
                {% endif %}
            },
            "disabledFeatures": [
                {% if developer_portal.general_configurations.disabled_features is defined %}
                {% for feature in developer_portal.general_configurations.disabled_features %}
                "{{ feature }}"{{ "," if not loop.last }}
                {% endfor %}
                {% endif %}
            ]
        },
        "emailTemplates": {
            "scopes": {
                {% if developer_portal.email_templates.scopes is defined %}
                {% for operation, scopes in developer_portal.email_templates.scopes.items() %}
                "{{ operation }}": [
                    {% for scope in scopes %}
                        "{{ scope }}"{{ "," if not loop.last }}
                    {% endfor %}
                ]{{ "," if not loop.last }}
                {% endfor %}
                {% else %}
                    "create": [],
                    "read": [],
                    "update": [],
                    "delete": []
                {% endif %}
            },
            "disabledFeatures": [
                {% if developer_portal.email_templates.disabled_features is defined %}
                {% for feature in developer_portal.email_templates.disabled_features %}
                "{{ feature }}"{{ "," if not loop.last }}
                {% endfor %}
                {% endif %}
            ]
        }
    }
}
