{
    "accountApp": {
        {% if developer_portal.applications.account_app.configs is defined %}
        {% for key, value in developer_portal.applications.account_app.configs.items() %}
            "{{ key }}": "{{ value }}"{{ "," if not loop.last }}
        {% endfor %}
        {% endif %}
    },
    "adminApp": {
        {% if developer_portal.applications.admin_app.configs is defined %}
        {% for key, value in developer_portal.applications.admin_app.configs.items() %}
            "{{ key }}": "{{ value }}"{{ "," if not loop.last }}
        {% endfor %}
        {% endif %}
    },
    "appBaseName": "{{ developer_portal.app_base_name }}",
    "clientID": "{{ developer_portal.client_id }}",
    "debug": {{ developer_portal.debug.enable }},
    "documentation": {
        "baseURL": "{{ developer_portal.documentation.base_url }}",
        "contentBaseURL": "{{ developer_portal.documentation.content_base_url }}",
        "githubOptions": {
            {% if developer_portal.documentation.github_options is defined %}
            {% for option, value in developer_portal.documentation.github_options.items() %}
                "{{ option }}": "{{ value }}"{{ "," if not loop.last }}
            {% endfor %}
            {% endif %}
        },
        "imagePrefixURL": "{{ developer_portal.documentation.image_prefix_url }}",
        "provider": "{{ developer_portal.documentation.provider }}",
        "structureFileType": "{{ developer_portal.documentation.structure_file_type }}",
        "structureFileURL": "{{ developer_portal.documentation.structure_file_url }}"
    },
    "i18nResourcePath": "{{ developer_portal.i18n_resource_path }}",
    "loginCallbackPath": "{{ developer_portal.login_callback_path }}",
    "logoutCallbackPath": "{{ developer_portal.logout_callback_path }}",
    "productVersion": "{{ product.version }}",
    {% if developer_portal.server_origin is defined %}
    "serverOrigin": "{{ developer_portal.server_origin }}",
    {% endif %}
    "routePaths": {
        {% if developer_portal.route_paths is defined %}
        {% for path, value in developer_portal.route_paths.items() %}
            "{{ path }}": "{{ value }}"{{ "," if not loop.last }}
        {% endfor %}
        {% endif %}
    },
    "session": {
        {% if developer_portal.session.params is defined %}
        {% for param, value in developer_portal.session.params.items() %}
            "{{ param }}": {{ value }}{{ "," if not loop.last }}
        {% endfor %}
        {% endif %}
    },
    "ui": {
        "announcements": [
            {% if developer_portal.ui.announcements is defined %}
            {% for announcement in developer_portal.ui.announcements %}
            {
            {% for key, value in announcement.items() %}
            {% if value is number %}
                "{{ key }}": {{ value }}{{ "," if not loop.last }}
            {% else %}
                "{{ key }}": "{{ value }}"{{ "," if not loop.last }}
            {% endif %}
            {% endfor %}
            }{{ "," if not loop.last }}
            {% endfor %}
            {% endif %}
        ],
        "appCopyright": "{{ developer_portal.ui.app_copyright }}",
        "appTitle": "{{ developer_portal.ui.app_title }}",
        "appName": "{{ developer_portal.ui.app_name }}",
        "appLogoPath": "{{ developer_portal.ui.app_logo_path }}",
        "features": {
            "applications": {
                "disabledFeatures": [
                    {% if developer_portal.applications.disabled_features is defined %}
                    {% for feature in developer_portal.applications.disabled_features %}
                    "{{ feature }}"{{ "," if not loop.last }}
                    {% endfor %}
                    {% endif %}
                ],
                "enabled": {{ developer_portal.applications.enabled }},
                "scopes": {
                    {% if developer_portal.applications.scopes is defined %}
                    {% for operation, scopes in developer_portal.applications.scopes.items() %}
                    "{{ operation }}": [
                        {% for scope in scopes %}
                            "{{ scope }}"{{ "," if not loop.last }}
                        {% endfor %}
                    ]{{ "," if not loop.last }}
                    {% endfor %}
                    {% else %}
                        "create": [],
                        "read": [],
                        "update": [],
                        "delete": []
                    {% endif %}
                }
            },
            "identityProviders": {
                "disabledFeatures": [
                    {% if developer_portal.identity_providers.disabled_features is defined %}
                    {% for feature in developer_portal.identity_providers.disabled_features %}
                    "{{ feature }}"{{ "," if not loop.last }}
                    {% endfor %}
                    {% endif %}
                ],
                "enabled": {{ developer_portal.identity_providers.enabled }},
                "scopes": {
                    {% if developer_portal.identity_providers.scopes is defined %}
                    {% for operation, scopes in developer_portal.identity_providers.scopes.items() %}
                    "{{ operation }}": [
                        {% for scope in scopes %}
                            "{{ scope }}"{{ "," if not loop.last }}
                        {% endfor %}
                    ]{{ "," if not loop.last }}
                    {% endfor %}
                    {% else %}
                        "create": [],
                        "read": [],
                        "update": [],
                        "delete": []
                    {% endif %}
                }
            }
        },
        "gravatarConfig": {
           {% if developer_portal.gravatar.configs is defined %}
           {% for key, value in developer_portal.gravatar.configs.items() %}
               "{{ key }}": "{{ value }}"{{ "," if not loop.last }}
           {% endfor %}
           {% endif %}
        }
    }
}
