.notification-channel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.notification-channel-disabled {
    color: gray;
}

.notification-channel-header {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-content: center;
    align-items: center;
    padding: 10px 14px;

    .notification-channel-icon-container {
        border-radius: var(--oxygen-shape-borderRadius);
    }
}
