.edit-organization-discovery-domains-form {
    // TODO: Fix this from `@oxygen-ui` side.
    .Mui-readOnly {
        background-color: #e9ecef;
    }

    // TODO: Fix this from `@oxygen-ui` side.
    .MuiFormHelperText-root {
        margin-left: 0;
    }

    .ui.primary.button{
        margin-top: 20px;
    }
}
