.add-existing-user-wizard {
    // TODO: Fix this from `@oxygen-ui` side.
    // Tracker: https://github.com/wso2/oxygen-ui/issues/191
    .oxygen-autocomplete {
        padding-top: 0;
        padding-bottom: 0;
    }

    .add-existing-user-wizard-form {
        .oxygen-form-helper-text {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }
}
