.console-login-security {
    .oxygen-alert {
        margin-top: 1.5rem;
    }

    .console-login-security-card {
        padding: 3em;
        border: 1px solid rgba(132,138,145,.15);

        &.flex {
            gap: 18px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: center;
            align-items: center;
        }

        .console-login-security-card-header {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            align-items: center;
            gap: 12px;

            .enterprise-login-avatar {
                background-color: #FFECF6;
                border-radius: var(--oxygen-shape-borderRadius);
            }
        }

        .enterprise-idp-select-field {
            min-width: 300px;
        }
    }
}
