.box-container-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #f9fafb;
    border-radius: 8px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.full-width {
    width: 100%;
}

