.step-roles-autocomplete.error .MuiOutlinedInput-notchedOutline {
    border-color: #e0b4b4 !important;
}

.step-roles-autocomplete.error .MuiSvgIcon-root {
    color: #9f3a38 !important;
}

.step-roles-autocomplete.error .MuiTextField-root {
    background: #fff6f6 !important;
    border-radius: 8px !important;
}

.step-roles-autocomplete.error .MuiInputBase-input {
    background: #fff6f6 !important;
}

.step-roles-autocomplete.error label {
    color: #9f3a38 !important;
}

.step-roles-autocomplete.error input::placeholder {
    font-size: 1em !important;
    color: #9f3a38 !important;
}
