
.general-workflow-model-details-form{

    .text-field-container {
        margin-top: 8px;
    }
    
    .workflow-engine-selection-field {
        margin-top: 30px;
    }
}

.general-workflow-model-details-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;

}

.workflow-engine-selection-field-dropdown .MuiSelect-root.MuiSelect-placeholder {
    background-color: black;
    color: #999;
    font-style: italic;
}
.select-field-container .MuiSelect-root.MuiSelect-placeholder {
    color: #999;
    font-style: italic;
}



