<div class="page-wrapper layout-file {{#isErrorResponse}}error-page{{/isErrorResponse}} {{#isSuccessResponse}}success-page{{/isSuccessResponse}}">
    <div class="left-side">
      <main class="center-segment">
          <div class="ui container medium center aligned middle aligned">
              {{{ProductHeader}}}
              {{{MainSection}}}
          </div>
      </main>
      {{{ProductFooter}}}
    </div>
    <div class="right-side">
      {{#sideImgUrl}}
      <img class="right-panel-image" src="{{sideImgUrl}}" alt="{{sideImgAltText}}"/>
      {{/sideImgUrl}}
    </div>
</div>
