.flows {
    .page-layout {
        .page-header {
            border-bottom: 1px solid var(--oxygen-palette-divider);
            padding: var(--oxygen-spacing-1) var(--oxygen-spacing-3);
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
            height: 60px;
        }
    }

    .visual-editor {
        height: 90vh;
    }
}
