.button-extended-properties {
    .extended-property.action-type {
        &.oxygen-card {
            // TODO: `@oxygen-ui/react/Card` declares a default padding which is a bug.
            // Remove this once it is handled.
            // Tracker: https://github.com/wso2/oxygen-ui/issues/300
            padding: 0;

            .oxygen-card-content:last-child {
                padding: var(--oxygen-spacing-1);

                &:last-child {
                    padding-bottom: var(--oxygen-spacing-1);
                }
            }
        }

        .action-type-name {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .action-type-icon {
            background-color: var(--oxygen-palette-grey-300);

            img {
                height: 18px;
                width: 18px;
            }
        }
    }

    .button-extended-properties-sub-heading {
        margin-top: var(--oxygen-spacing-2);
        margin-bottom: var(--oxygen-spacing-1);
    }
}
