.notification-details-form {
    margin-top: 8px;

    .notification-channels {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
        margin-top: 32px;

        .notification-config {
            .sub-heading {
                font-size: 0.875rem !important;
                margin-bottom: 12px;
            }

            .fields {
                .MuiFormControlLabel-root {
                    margin-bottom: 0;
                }
            }
        }
    }
}
