.workflow-operations-details-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.operations-autocomplete {
    display: flex;
    flex-direction: column;
    gap: 8px; 

    .operations-autocomplete-header  {
        margin-bottom: 5px;
        white-space: nowrap; 

        h6 {
            color: #666666; 
            margin: 0;
        }

        h6::after {
            content: " *";
            color: var(--oxygen-palette-error-main);
            margin-left: 2px;
        }
    }
    .operations-autocomplete-input {
        margin-bottom: 10px;
    }

}
