.flex-row-gap-30 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 180px;
    max-width: 100%;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.box-container-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
    max-width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #f9fafb;
    border-radius: 8px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.has-steps {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
    max-width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.full-width {
    width: 100%;
}

.rules-component {
    .box-container {
        margin-top: 30px;
        background-color: #f9fafb;
        border-radius: 8px;
        padding: 20px;
    }
}
