
.general-approval-process-details-form{

    .text-field-container {
        margin-top: 8px;
    }
    
    .workflow-engine-selection-field {
        margin-top: 30px;
    }
    // .select-field-container {
    //     margin-top: 4px;
    // }
}

.general-approval-process-details-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
}


