.governance-connector-list-grid-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;

    .governance-connector-list-grid {
        flex-grow: 1;
        gap: 25px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

        .governance-connector {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            border: 1px solid #e8e8e8;
            border-radius: 10px;
            transition: box-shadow 0.3s ease;
            cursor: pointer;

            .governance-connector-header {
                display: flex;
                flex-direction: row;
                gap: 15px;
                align-content: center;
                align-items: center;
                padding: 10px 14px;

                .governance-connector-icon-container {
                    border-radius: var(--oxygen-shape-borderRadius);
                }
            }

            .ribbon {
                font-size: 0.8em;
                font-weight: 500;
                color: white;
                right: 0;
                height: 24px;
                min-width: 75px;
                background: #3fb81f;
                display: flex;
                margin-left: auto;
                margin-right: -25px;
                margin-top: -5px;
                flex-direction: row;
                align-content: center;
                align-items: center;
                justify-content: space-around;
                clip-path: polygon(4% 0, 0 100%, 100% 100%, 100% 0, 100% 0);
                -webkit-clip-path: polygon(4% 0, 0 100%, 100% 100%, 100% 0, 100% 0);
            }
        }
    }
}
