.console-login-security {
    .console-login-security-card {
        .console-login-security-card-header {
            .enterprise-login-avatar {
                background-color: #FFECF6;
                border-radius: var(--oxygen-shape-borderRadius);
            }
        }

        .enterprise-idp-selection {
            display: flex;
            gap: 12px;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;

            .enterprise-idp-select-field {
                min-width: 300px;
                // TODO: Remove from oxygen side.
                padding-top: 0;
                padding-bottom: 0;
                
                .oxygen-text-field {
                    .MuiTextField-root {
                        margin: 0;
                    }
                }
                
                .MuiButtonBase-root {
                    height: auto;
                }
            }
        }
    }
}
