.policy-algorithm-modal {
    .algorithm-content {
        height: 300px;
        width: 468px;
        .algorithm-dropdown{
            margin-top: 12px;
            width: 100%;
        }
        .algorithm-description{
            margin-top: 14px;
        }

    }
}

