.console-administrators-table {
    .role-tag-list {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}

.add-administrator-dropdown-trigger {
    &.ui.button>.icon:not(.button).add-administrator-dropdown-chevron {
        margin-left: 1rem;
        margin-right: 0;
    }
}
