.rich-text {
    .rich-text-editor {
        position: relative;

        .rich-text-editor-input {
            min-height: 150px;
            resize: none;
            font-size: 15px;
            caret-color: rgb(5, 5, 5);
            position: relative;
            tab-size: 1;
            outline: 0;
            padding: 15px 10px;
            caret-color: #444;
        }

        .rich-text-editor-input-placeholder {
            color: #999;
            overflow: hidden;
            position: absolute;
            text-overflow: ellipsis;
            top: 15px;
            left: 10px;
            font-size: 15px;
            user-select: none;
            display: inline-block;
            pointer-events: none;
        }
    }
}
