.edit-role {
    &.users {
        .MuiFormControl-root {
            height: 100%;

            .MuiSelect-select {
                padding: 11.5px;
            }

            .MuiInputBase-adornedStart {
                padding: 6px !important;
            }

            .MuiInputBase-adornedEnd {
                padding: 9.5px;
            }

            .MuiInputBase-formControl {
                height: 100%;
            }
        }
    }
}
